[Desktop Entry]
Name=AOML XBT Plotter
Comment=Plots XBT profiles
Categories=GNOME;Utility
Exec=/snap/bin/xbtplotter.XBTPlotter
Icon=/snap/usr/share/icons/hicolor/48x48/apps/openjdk-8.png
Terminal=False
Type=Application
Version=1.0
