[Desktop Entry]
Name=AOML XBT Plotter
Comment=Plots XBT profiles
Categories=GNOME;Utility
Exec=xbtplotter.XBTPlotter
Icon=${SNAP}/snap/gui/xbtplotter.png
Terminal=False
Type=Application
Version=1.0
